<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form [formGroup]="productForm" (ngSubmit)="onLogin()">
                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form1Example13">Email address</label>
                    <input type="email" formControlName="email" required class="form-control form-control-lg" placeholder="enter your email..."/>
                </div>
    
                <!-- Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form1Example23">Password</label>
                    <input type="password" formControlName="password" required name="password" class="form-control form-control-lg" placeholder="enter your password..."/>
                </div>
                <!-- Submit button -->
                <button type="submit" [disabled]="!productForm.valid" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block">Login in</button>
            </form>
        </div>
        </div>
    </div>
    </section>